body {
  background-image: url('/assets/img/cover_4_blur.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#loginWrapper {
  padding-top: 0px;
  margin-top: 15%;
  background-color: rgba(255,255,255,0.7);
}

